In [1]:
def regressor1(x_train,x_test,y_train):
  from sklearn.linear_model import LinearRegression
  from sklearn.tree import DecisionTreeRegressor
  from sklearn.ensemble import RandomForestRegressor  
  from sklearn.svm import SVR

  lr = LinearRegression()
  lr.fit(x_train,y_train)
  y_pred = lr.predict(x_test)
  
  dtr = DecisionTreeRegressor()
  dtr.fit(x_train,y_train)
  y_pred2 = dtr.predict(x_test)

  rfr = RandomForestRegressor()
  rfr.fit(x_train,y_train)
  y_pred3 = rfr.predict(x_test)

  svr = SVR()
  svr.fit(x_train,y_train)
  y_pred4 = svr.predict(x_test)

  return y_pred,y_pred2,y_pred3,y_pred4

In [2]:
def regressor2(x_train,x_test,y_train,y_test):
  from sklearn.metrics import mean_absolute_error
  from sklearn.metrics import r2_score
  from sklearn.linear_model import LinearRegression
  from sklearn.tree import DecisionTreeRegressor
  from sklearn.ensemble import RandomForestRegressor  
  from sklearn.svm import SVR

  lr = LinearRegression()
  lr.fit(x_train,y_train)
  y_pred = lr.predict(x_test)
  lre = mean_absolute_error(y_test,y_pred)
  print("Linear Regression\nmean absolute error : ",lre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred),"\n")
  
  dtr = DecisionTreeRegressor()
  dtr.fit(x_train,y_train)
  y_pred2 = dtr.predict(x_test)
  dtre = mean_absolute_error(y_test,y_pred2)
  print("Decision Tree Classifier\nmean absolute error : ",dtre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred2),"\n")

  rfr = RandomForestRegressor()
  rfr.fit(x_train,y_train)
  y_pred3 = rfr.predict(x_test)
  rfre = mean_absolute_error(y_test,y_pred3)
  print("Random Forest Regressor\nmean absolute error : ",rfre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred3),"\n")
  svr = SVR()
  svr.fit(x_train,y_train)
  y_pred4 = svr.predict(x_test)
  svre = mean_absolute_error(y_test,y_pred4)
  print("Suppoer Vector Regression\nmean absolute error : ",svre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred4),"\n")

  return y_pred,y_pred2,y_pred3,y_pred4

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [121]:
train = pd.read_csv("/content/train.csv")

In [122]:
print(train.shape)
train.head(2)

(39499, 15)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20

In [123]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39499 entries, 0 to 39498
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_ID             39499 non-null  object
 1   Property_Type           39499 non-null  object
 2   Property_Area           39499 non-null  int64
 3   Number_of_Windows       37845 non-null  float64
 4   Number_of_Doors         39499 non-null  int64
 5   Furnishing              38457 non-null  object
 6   Frequency_of_Powercuts  38116 non-null  float64
 7   Power_Backup            39499 non-null  object
 8   Water_Supply            39499 non-null  object
 9   Traffic_Density_Score   39499 non-null  float64
 10  Crime_Rate              38712 non-null  object
 11  Dust_and_Noise          38280 non-null  object
 12  Air_Quality_Index       39499 non-null  float64
 13  Neighborhood_Review     39499 non-null  float64
 14  Habitability_score      39499 non-null  float64
dtypes: float64(6), int64(2), object(7)
memory usage: 4.5+ MB

In [124]:
test = pd.read_csv("/content/test.csv")

In [125]:
test.shape

(10500, 14)

In [126]:
print(train.isnull().sum())
print(test.isnull().sum())

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64
Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [127]:
from sklearn.impute import SimpleImputer, KNNImputer

In [128]:
impute = SimpleImputer(strategy = "most_frequent")
knnimputer = KNNImputer(n_neighbors=15)

In [129]:
y = train.iloc[:,-1]
train.drop(train.columns[-1],axis=1,inplace=True)

In [130]:
train2 = train.iloc[:,[3,6]]
train2 = knnimputer.fit_transform(train2)
train2 = pd.DataFrame(train2)

In [131]:
train3 = train.iloc[:,[5,10,11]]
train3 = impute.fit_transform(train3)
train3 = pd.DataFrame(train3)

In [132]:
train.iloc[:,3] = train2.iloc[:,0]
train.iloc[:,6] = train2.iloc[:,1]
train.iloc[:,5] = train3.iloc[:,0]
train.iloc[:,10] = train3.iloc[:,1]
train.iloc[:,11] = train3.iloc[:,2]

In [133]:
test2 = test.iloc[:,[3,6]]
test2 = knnimputer.fit_transform(test2)
test2 = pd.DataFrame(test2)

In [134]:
test3 = test.iloc[:,[5,10,11]]
test3 = impute.fit_transform(test3)
test3 = pd.DataFrame(test3)

In [135]:
test.iloc[:,3] = test2.iloc[:,0]
test.iloc[:,6] = test2.iloc[:,1]
test.iloc[:,5] = test3.iloc[:,0]
test.iloc[:,10] = test3.iloc[:,1]
test.iloc[:,11] = test3.iloc[:,2]

In [136]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder()
sc = StandardScaler()

In [137]:
train2 = train.iloc[:,[1,5,7,8,10,11]]
train2 = ohe.fit_transform(train2)
train2 = pd.DataFrame(train2.toarray())

train3 = train.iloc[:,[2,3,4,6,9,12,13]]
train3 = sc.fit_transform(train3)
train3 = pd.DataFrame(train3)

train = pd.concat([train2,train3],axis=1)

In [138]:
test2 = test.iloc[:,[1,5,7,8,10,11]]
test2 = ohe.fit_transform(test2)
test2 = pd.DataFrame(test2.toarray())

test3 = test.iloc[:,[2,3,4,6,9,12,13]]
test3 = sc.fit_transform(test3)
test3 = pd.DataFrame(test3)

test = pd.concat([test2,test3],axis=1)

In [139]:
p1,p2,p3,p4 = regressor1(train,test,y)

In [140]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(p1,p2)

7.393495208333333

In [141]:
mean_absolute_error(p2,p3)

4.155949761904761

In [142]:
mean_absolute_error(p3,p4)

3.5897523347410205

In [143]:
mean_absolute_error(p4,p2)

5.796674246296543

In [144]:
p3

array([31.807 , 80.139 , 66.5328, ..., 75.0706, 79.834 , 79.2593])

In [145]:
test = pd.read_csv("/content/test.csv")
id = test.iloc[:,0]

In [146]:
submission = pd.DataFrame({"Property_ID":id,"Habitability_score":p3})

In [147]:
submission

      Property_ID  Habitability_score
0          0x6e93             31.8070
1          0x8787             80.1390
2          0x6c17             66.5328
3          0x9dbd             72.1662
4          0xbfde             77.1976
...           ...                 ...
10495      0x423d             64.3772
10496      0x78c5             82.1809
10497       0xbf3             75.0706
10498      0x305b             79.8340
10499      0x5cff             79.2593

[10500 rows x 2 columns]

In [148]:
submission.to_csv("Submission.csv",index=False)

In [149]:
pd.read_csv("Submission.csv")

      Property_ID  Habitability_score
0          0x6e93             31.8070
1          0x8787             80.1390
2          0x6c17             66.5328
3          0x9dbd             72.1662
4          0xbfde             77.1976
...           ...                 ...
10495      0x423d             64.3772
10496      0x78c5             82.1809
10497       0xbf3             75.0706
10498      0x305b             79.8340
10499      0x5cff             79.2593

[10500 rows x 2 columns]