In [117]:
def regressor(x_train,x_test,y_train,y_test=0):
  from sklearn.metrics import mean_absolute_error
  from sklearn.metrics import r2_score
  from sklearn.linear_model import LinearRegression
  from sklearn.tree import DecisionTreeRegressor
  from sklearn.ensemble import RandomForestRegressor  
  from sklearn.svm import SVR

  lr = LinearRegression()
  lr.fit(x_train,y_train)
  y_pred = lr.predict(x_test)
  y_test = y_pred
  lre = mean_absolute_error(y_test,y_pred)
  print("Linear Regression\nmean absolute error : ",lre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred),"\n")
  
  dtr = DecisionTreeRegressor()
  dtr.fit(x_train,y_train)
  y_pred2 = dtr.predict(x_test)
  dtre = mean_absolute_error(y_test,y_pred2)
  print("Decision Tree Classifier\nmean absolute error : ",dtre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred2),"\n")

  rfr = RandomForestRegressor()
  rfr.fit(x_train,y_train)
  y_pred3 = rfr.predict(x_test)
  rfre = mean_absolute_error(y_test,y_pred3)
  print("Random Forest Regressor\nmean absolute error : ",rfre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred3),"\n")
  svr = SVR()
  svr.fit(x_train,y_train)
  y_pred4 = svr.predict(x_test)
  svre = mean_absolute_error(y_test,y_pred4)
  print("Suppoer Vector Regression\nmean absolute error : ",svre,"\n")
  print("R2_score : ",r2_score(y_test,y_pred4),"\n")

  return y_pred,y_pred2,y_pred3,y_pred4

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [139]:
train = pd.read_csv("/content/train.csv")

In [140]:
print(train.shape)
train.head(2)

(39499, 15)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20

In [141]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39499 entries, 0 to 39498
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_ID             39499 non-null  object
 1   Property_Type           39499 non-null  object
 2   Property_Area           39499 non-null  int64
 3   Number_of_Windows       37845 non-null  float64
 4   Number_of_Doors         39499 non-null  int64
 5   Furnishing              38457 non-null  object
 6   Frequency_of_Powercuts  38116 non-null  float64
 7   Power_Backup            39499 non-null  object
 8   Water_Supply            39499 non-null  object
 9   Traffic_Density_Score   39499 non-null  float64
 10  Crime_Rate              38712 non-null  object
 11  Dust_and_Noise          38280 non-null  object
 12  Air_Quality_Index       39499 non-null  float64
 13  Neighborhood_Review     39499 non-null  float64
 14  Habitability_score      39499 non-null  float64
dtypes: float64(6), int64(2), object(7)
memory usage: 4.5+ MB

In [142]:
test = pd.read_csv("/content/test.csv")

In [143]:
test.shape

(10500, 14)

In [144]:
print(train.isnull().sum())
print(test.isnull().sum())

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64
Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                257
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                212
Dust_and_Noise            330
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [145]:
from sklearn.impute import SimpleImputer, KNNImputer

In [153]:
impute = SimpleImputer(strategy = "most_frequent")

In [147]:
y = train.iloc[:,-1]
train.drop(train.columns[-1],axis=1,inplace=True)

In [148]:
train = impute.fit_transform(train)
train = pd.DataFrame(train)

In [149]:
train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0x21e3,Apartment,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77

In [150]:
test = impute.fit_transform(test)
test = pd.DataFrame(test)

In [151]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder()
sc = StandardScaler()

In [152]:
train2 = train.iloc[:,[1,5,7,8,10,11]]
train2 = ohe.fit_transform(train2)
train2 = pd.DataFrame(train2.toarray())

train3 = train.iloc[:,[2,3,4,6,9,12,13]]
train3 = sc.fit_transform(train3)
train3 = pd.DataFrame(train3)

train = pd.concat([train2,train3],axis=1)

In [107]:
test2 = test.iloc[:,[1,5,7,8,10,11]]
test2 = ohe.fit_transform(test2)
test2 = pd.DataFrame(test2.toarray())

test3 = test.iloc[:,[2,3,4,6,9,12,13]]
test3 = sc.fit_transform(test3)
test3 = pd.DataFrame(test3)

test = pd.concat([test2,test3],axis=1)

In [118]:
p1,p2,p3,p4 = regressor(train,test,y)

Linear Regression
mean absolute error :  0.0

R2_score :  1.0

Decision Tree Classifier
mean absolute error :  7.433306962425594

R2_score :  0.27719114269779455

Random Forest Regressor
mean absolute error :  5.844492788839285

R2_score :  0.5702456654339796

Suppoer Vector Regression
mean absolute error :  3.827735693376923

R2_score :  0.8087971878467146

In [120]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(p1,p2)

7.433306962425594

In [121]:
mean_absolute_error(p2,p3)

4.173013704761904

In [122]:
mean_absolute_error(p3,p4)

3.5916020133344593

In [123]:
mean_absolute_error(p4,p2)

5.844153839765813

In [124]:
p3

array([31.4396, 81.2156, 67.4142, ..., 73.9618, 79.429 , 80.1286])

In [128]:
test = pd.read_csv("/content/test.csv")
id = test.iloc[:,0]

In [134]:
submission = pd.DataFrame({"Property_ID":id,"Habitability_score":p2})

In [135]:
submission

      Property_ID  Habitability_score
0          0x6e93               37.72
1          0x8787               86.82
2          0x6c17               73.91
3          0x9dbd               80.66
4          0xbfde               65.08
...           ...                 ...
10495      0x423d               62.71
10496      0x78c5               86.57
10497       0xbf3               73.68
10498      0x305b               73.87
10499      0x5cff               71.07

[10500 rows x 2 columns]

In [136]:
submission.to_csv("Submission.csv",index=False)

In [133]:
pd.read_csv("Submission.csv")

      Property_ID  Habitability_score
0          0x6e93             31.4396
1          0x8787             81.2156
2          0x6c17             67.4142
3          0x9dbd             72.5577
4          0xbfde             75.5623
...           ...                 ...
10495      0x423d             63.3884
10496      0x78c5             82.1497
10497       0xbf3             73.9618
10498      0x305b             79.4290
10499      0x5cff             80.1286

[10500 rows x 2 columns]